* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    box-sizing: border-box;
  }
  /*header stuff*/
header h1{
    
    margin-top: 10px;
    padding-bottom: 5px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 50px;
    background-color: #34c9eb; 
    color:#051f29;
}header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color:#051f29;
    padding-bottom: 15px;
}

header section{
    margin-top: 30px;
    margin-right: 70px;
    display: flex;
}
header h2{
    margin-right: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
}
header section h2 a{
    text-decoration: none;
    color: #34c9eb;
    border-width: 0 0 4px;
    border-style: solid;
}


/*end header stuff*/
/*important*/
.container-1 p{
    margin-right: 100px;
    margin-bottom: 150px;
    margin-top: 110px;
    margin-left: 70px;
    color: #266680;
    
}
.container-1 h2{
    
    margin-top: 100px;
    color: #266680;
    font-size: 50px;
    text-align: right;
    border-right: #266680 solid 4px;
    padding-right: 15px;
    
}
/*hero*/
.imageBlock {
    
    background-image:url("../assets/images/02-hero-bg.jpg");
    background-color: rgba(74, 176, 216, 0.308);
    height: 250px;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content:flex-end;
}


.imageBlock h3{
    font-size: 30px;
    background-color: #34c9eb;
    color:#051f29;
    margin-right: 100px;
    margin-bottom: 25px;
    padding: 10px 20px;
}
/*hero end*/
/*about me*/

.about{

    display: flex;
    
}
.about h2{
    flex-basis: 18.5%;
}
.about p{
    
    flex-basis: 40%;
}
.about img{
    margin-top: 60px;
    width: 20%;
    height: 20%;
    border: 5px solid;
    border-color: rgb(74, 176, 216);
}
/*end about me*/

/*hover*/
.surf:hover{
    opacity: 0.5;    
}
.led:hover{
    opacity: 0.5;   
}
.pas:hover{
    opacity: 0.5;   
}
.cal:hover{  
    opacity: 0.5;
}
.runBuddy:hover{
    opacity: 0.5;   
}
/*end hover*/

/*begin work example*/
.work{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.work h2{
    
    flex-basis: 18%;
    
    
}
.workRow{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 80%;
    
}

/*/////////////////////////////*/    

.surf{
    margin-bottom: 20px;
    background-image: url("../assets/images/02-portfolio-4.jpg");
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    border: 5px solid;
    border-color: rgb(74, 176, 216);
    margin-top: 110px;
    margin-bottom: 10px;
    margin-left: 40px;
    flex-basis: 90%;
}
.surf a{
    color:#051f29;
    text-decoration: none;
}
h3{
    font-size: 25px;
    margin-bottom: 3px;
}
h4{
    font-size: 15px;
}
.backDiv{
    background-color: rgb(74, 176, 216);
    display: flex;
    align-items: flex-end;
    margin-top: 200px;
    padding-right: 10px;
    align-items:center;
    margin-bottom: 20px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items:flex-end;
    align-items:flex-start;
    padding-top: 7px;
}
.backDivSub{
    background-color: rgb(74, 176, 216);
    display: flex;
    align-items: flex-end;
    margin-top: 80px;
    padding-top: 7px;
    padding-right: 10px;
    padding-bottom: 5px;
    margin-bottom: 18px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items:flex-end;
    align-items:flex-start;

}

.led{
    
    display: flex;
    background-image: url("../assets/images/02-portfolio-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    flex-basis: 43.5%;
    margin: 25px 10px;
    margin-left: 40px;
    border: 5px solid;
    border-color: rgb(74, 176, 216);
}
.cal{
    display: flex;
    background-image: url("../assets/images/02-portfolio-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    flex-basis: 43.5%;
    margin: 25px 10px;
    margin-left: 40px;
    border: 5px solid;
    border-color: rgb(74, 176, 216);
}
.pas{
    display: flex;
    background-image: url("../assets/images/02-portfolio-3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    flex-basis: 43.5%;
    margin: 25px 10px;
    margin-left: 40px;
    border: 5px solid;
    border-color: rgb(74, 176, 216);
}

.runBuddy{
    display: flex;
    background-image: url("../assets/images/02-run-buddy.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    flex-basis: 43.5%;
    margin: 25px 10px;
    margin-left: 40px;
    border: 5px solid;
    border-color: rgb(74, 176, 216);
}
/*end work stuff*/
/*//////////////////////////*/

/*begin contact*/
.contact{
    display: flex;
    justify-content: space-around;
    
}
.contact h2{
    flex: .75;
}
.contact section{
    flex: 3.5;
}
.insideClass{
    display: flex;
    justify-content: flex-end;
    margin-top: 120px;
    flex-wrap: wrap;
    
}
.insideClass h3{
    margin-left: 125px;
    margin-right: 150px;
    font-size: 20px;
}
.insideClass a{
    color: #266680;
    text-decoration: none;
    border-width: 0 0 3px;
    border-style: solid;
}
/*end contact stuff*/
/*resume*/

.resume{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    }
.resume h2{
        flex: .75;
    }
.resume p{
        flex: 3.05;
        margin-bottom: 50px;
        
    }
/*end resume*/
footer p{
        color:white;
        margin-bottom: 10px;
    }

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    header section{
        text-align: center;
        line-height: 1.5;
        margin: auto;
        margin-top: 10px;
        
    }
    .about {
        flex-wrap: wrap;
        justify-content: center;
    }
    .about h2{
        font-size: 40px;
    }
    .about p{
        margin-bottom:7px;
    }
    .about img{
        display: flex;
        justify-content: center;
        margin: auto;
        width: 200px;
        margin-top: 5px;
    }
.surf
{
    flex-basis: 70%;
    
 }
 .work h2{
     font-size: 40px;
     margin-left: 10px;
 }
 
 .cal{
     flex-basis: 31%;
 }
 
 
 .pas{
     flex-basis: 31%;
 }
 .led{
     flex-basis: 31%;
 }
 .runBuddy{
     flex-basis: 31%;
 }
 .contact h2{
    font-size: 40px;
    margin-left: 60px;
}
.insideClass h3{
    line-height: 1.2;
}

.resume h2{
    font-size: 40px;
    margin-left: 50px;
}
}



 /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
 @media screen and (max-width: 575px) {
    header{
        width:110%;
    }    
    header section{
        text-align: center;
        line-height: 1.5;
        margin: auto;
        margin-top: 10px;
        
    }
    .imageBlock{
        width:110%;
    }
    .about h2{
        font-size: 30px;
        margin-left: 60px;
    }
    .about {
        flex-wrap: wrap;
        
    }
    .about p{
        margin-bottom:7px;
    }
    .about img{
        display: flex;
        justify-content: center;
        margin: auto;
        width: 200px;
        margin-top: 5px;
    }
    .surf{
       flex-basis: 70%;
       
    }
    .work h2{
        font-size: 25px;
        margin-left: 10px; 
    }
    
    .cal{
        flex-basis: 31%;
    }
    .pas{
        flex-basis: 31%;
    }
    .led{
        flex-basis: 31%;
    }
    .runBuddy{
        flex-basis: 31%;
    }
    .contact h2{
        font-size: 30px;
        margin-left: 60px;
    }
    .resume h2{font-size: 30px;
        margin-left: 30px;}
        header section h2 a{
            border-width: 0 0 2px;
            
        }
    
    .insideClass h3{
        line-height: 1.2;
    }
}
